<footer>
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            La Empresa
          </a>
        </li>
        <li>
          <a href="#">
            Clientes
          </a>
        </li>
        <li>
          <a href="#">
            Contacto
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">miCiudad</a>, impulsando ciudades digitales
    </p>
  </div>
</footer>
