<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Edit Profile</h4>
            <p class="category">Complete your profile</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Company (disabled)</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Email address</label>
                    <input type="email" class="form-control" >
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Fist Name</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Adress</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">City</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Country</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label"></label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              
              <button type="submit" class="btn btn-success pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img material_icon" src="../assets/img/logo.png" />
            </a>
          </div>
          
          <div class="content">
            <h6 class="category text-gray">Administrador</h6>
            <h4 class="card-title">miCiudad/Empresa</h4>
            <p class="card-content">
              miCiudad es una plataforma que permite gestionar la relacion de las empresas de servicios y municipios con sus clientes y ciudadanos. Además provee herramientas para optimizar todos los recursos presentes en la organización.
            </p>
            <a href="#pablo" class="btn btn-success btn-round">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>