<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Calificaciones</h4>
            <p class="category">Satisfaccion de los usuarios por empleado</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table">
              <thead class="text" style="color: #36EEF4;">
                <tr>
                  <th>Nombre</th>
                  <th><i class="material-icons">star</i></th>
                  <th>Reparaciones</th>
                  <th>Premio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ricardo Darín</td>
                  <td>4.5 / 5</td>
                  <td>41</td>
                  <td class="text-success"><i class="material-icons">check_circle</i></td>
                </tr>
                <tr>
                  <td>Diego Peretti</td>
                  <td>2 / 5</td>
                  <td>35</td>
                  <td class="text-danger"><i class="material-icons">cancel</i></td>
                </tr>
                <tr>
                  <td>Eleonora Casano</td>
                  <td>5 / 5</td>
                  <td>29</td>
                  <td class="text-success"><i class="material-icons">check_circle</i></td>
                </tr>
                <tr>
                  <td>Soledad Villamil</td>
                  <td>3 / 5</td>
                  <td>28</td>
                  <td class="text-danger"><i class="material-icons">cancel</i></td>
                </tr>
                <tr>
                  <td>Guillermo Francella</td>
                  <td>4.5 / 5</td>
                  <td>19</td>
                  <td class="text-success"><i class="material-icons">check_circle</i></td>
                </tr>
                <tr>
                  <td>Adrian Suar</td>
                  <td>5 / 5</td>
                  <td>9</td>
                  <td class="text-danger"><i class="material-icons">cancel</i></td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Lista de mensajes</h4>
            <p class="category">Reclamos de los usuarios por cantidad de suscriptores</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Direccion</th>
                  <th>Tipo de reclamo</th>
                  <th>Suscriptores</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>141228</td>
                  <td>Pablo Picasso</td>
                  <td>Las Heras 1420</td>
                  <td>Técnico</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>122312</td>
                  <td>Steven Spielberg</td>
                  <td>Viamonte 1128 3ºD</td>
                  <td>Comercial</td>
                  <td>16</td>
                </tr>
                <tr>
                  <td>234234</td>
                  <td>Bill Gates</td>
                  <td>Charcas 1422</td>
                  <td>Comercial</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>418726</td>
                  <td>Jeff Bezos</td>
                  <td>Av. Libertador 4216</td>
                  <td>Técnico</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>099218</td>
                  <td>Elon Musk</td>
                  <td>Paraguay 3428</td>
                  <td>Tecnico</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>621542</td>
                  <td>Mick Jagger</td>
                  <td>Cabildo 5214 15º H</td>
                  <td>Comercial</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
